---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ArticleSnippet from "../../components/ArticleSnippet.astro";
import Section from "../../components/common/Section.astro";
import SEO from "../../components/SEO.astro";

const articles = (await getCollection("blog")).sort(
  (a, b) => b.data.timestamp.valueOf() - a.data.timestamp.valueOf(),
);

const canonicalUrl = new URL(Astro.url.pathname, Astro.site).href;
---

<Layout>
  <Fragment slot="head">
    <SEO
      title="Blog"
      description="Practical wisdom, unfiltered thoughts, and hot takes."
      longDescription="AI, Web Development, and the occasional programming mishap."
      cardImage="/avatar.jpeg"
      keywords={["web development", "design", "technology"]}
      canonicalUrl={canonicalUrl}
    />
  </Fragment>
  <Section class="my-8">
    <div class="flex items-center gap-4 pt-8 pb-16">
      <h1 class="font-display text-2xl leading-loose sm:text-3xl">Articles</h1>
    </div>
    <ul>
      {
        articles.map((article) => (
          <li>
            <ArticleSnippet
              title={article.data.title}
              description={article.data.description}
              duration={`${article.data.readTime} min`}
              url={`/blog/${article.data.slug}`}
              timestamp={article.data.timestamp}
            />
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>
