---
import { getConfigurationCollection } from "../../lib/utils";

const { data: config } = await getConfigurationCollection();
---

<h3 class="font-display mb-4 text-lg leading-loose sm:text-xl">
  {config.education.title}
</h3>
<ul>
  {
    config.education.educations.map((education) => (
      <li class="flex flex-col gap-2">
        <span class="text-lg font-bold">{education.title}</span>
        <a
          href={education.institutionUrl}
          target="_blank"
          rel="noopener noreferrer"
          class="underline"
        >
          {education.institution}
        </a>
        <span>
          <time>{education.year}</time> - {education.location}
        </span>
        <span class="italic">{education.thesis}</span>
      </li>
    ))
  }
</ul>
