---
import type { ArticleFrontmatter } from "../../lib/types";
import ArticleSnippet from "../ArticleSnippet.astro";
import Anchor from "../common/Anchor.astro";

type Props = {
  featuredArticles: Array<ArticleFrontmatter>;
};

const { featuredArticles } = Astro.props;
---

<div class="flex w-full items-center justify-between">
  <h3 class="font-display text-lg leading-loose sm:text-xl">Articles</h3>
  <Anchor url="/blog" class="text-base">View All</Anchor>
</div>
<ul class="my-8">
  {
    (featuredArticles.length === 0 && <p>No articles found.</p>) ||
      featuredArticles.map((article, index) => (
        <li
          class:list={[
            "animate-in-up",
            index % 9 === 0 && "delay-0",
            index % 9 === 1 && "delay-1",
            index % 9 === 2 && "delay-2",
            index % 9 === 3 && "delay-3",
            index % 9 === 4 && "delay-4",
            index % 9 === 5 && "delay-5",
            index % 9 === 6 && "delay-6",
            index % 9 === 7 && "delay-7",
            index % 9 === 8 && "delay-8",
          ]}
        >
          <ArticleSnippet
            title={article.title}
            description={article.description}
            url={article.url}
            timestamp={article.timestamp}
            duration={`${article.readTime} min`}
          />
        </li>
      ))
  }
</ul>
