---
import { processArticleDate } from "../lib/utils";
import Anchor from "./common/Anchor.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  duration?: string;
  timestamp?: Date;
};

const { title, description, url, duration, timestamp } = Astro.props;
---

<div
  class="hover-dotted-grid relative mb-8 flex flex-col gap-3 text-neutral-900 transition-colors duration-150 ease-in-out motion-reduce:transition-none dark:text-neutral-100"
>
  <Anchor url={url} class="text-xl">
    {title}
  </Anchor>
  <p class="">
    {description}
  </p>
  <div
    class="flex items-center justify-between text-neutral-600 transition-colors duration-150 ease-in-out motion-reduce:transition-none dark:text-neutral-400"
  >
    {timestamp ? <p>{processArticleDate(timestamp)}</p> : null}
    {duration ? <p>{duration}</p> : null}
  </div>
</div>
