---
import { processArticleDate } from "../lib/utils";
import Anchor from "./common/Anchor.astro";

export type Props = {
  title: string;
  description: string;
  url: string;
  duration?: string;
  timestamp?: Date;
};

const { title, description, url, duration, timestamp } = Astro.props;
---

<div
  class="zag-text zag-transition hover-zag-dotted-grid relative mb-8 flex flex-col gap-3"
>
  <Anchor url={url} class="text-xl">
    {title}
  </Anchor>
  <p class="">
    {description}
  </p>
  <div class="zag-muted zag-transition flex items-center justify-between">
    {timestamp ? <p>{processArticleDate(timestamp)}</p> : null}
    {duration ? <p>{duration}</p> : null}
  </div>
</div>
