---
import { config } from "../config";
import Anchor from "./common/Anchor.astro";
import Section from "./common/Section.astro";
import { Github, Linkedin } from "@lucide/astro";

const year = new Date().getFullYear();
---

<footer class="mt-16 mb-8">
  <Section class="mb-4">
    <div
      class="border-b-2 border-neutral-900 dark:border-neutral-100 transition-colors duration-150 ease-in-out motion-reduce:transition-none flex items-center justify-center gap-4 pb-4"
    >
      <Anchor
        url={config.personal.githubProfile}
        aria-label={`${config.personal.name} GitHub Profile`}
      >
        <Github />
      </Anchor>
      <Anchor
        url={config.personal.linkedinProfile}
        aria-label={`${config.personal.name} LinkedIn Profile`}
      >
        <Linkedin />
      </Anchor>
    </div>
  </Section>
  <p class="text-neutral-900 dark:text-neutral-100 transition-colors duration-150 ease-in-out motion-reduce:transition-none text-center text-sm font-medium">
    &copy; {year}
    {config.personal.name}. All rights reserved.
  </p>
</footer>
