---
import { config } from "../config";
import { processArticleDate } from "../lib/utils";
import type { ArticleFrontmatter } from "../lib/types";
import Section from "../components/common/Section.astro";
import Prose from "../components/Prose.astro";
import SEO from "../components/SEO.astro";
import Layout from "./Layout.astro";

type Props = { frontmatter: ArticleFrontmatter };

const { frontmatter } = Astro.props;
const articleDate = processArticleDate(frontmatter.timestamp);
const canonicalUrl = new URL(`/blog/${frontmatter.slug}`, Astro.site).href;
const pageTitle = `${frontmatter.title} \u2022 ${config.personal.name}`;
---

<Layout>
  <Fragment slot="head">
    <SEO
      title={pageTitle}
      description={frontmatter.description}
      longDescription={frontmatter.longDescription}
      cardImage={frontmatter.cardImage}
      keywords={frontmatter.tags}
      canonicalUrl={canonicalUrl}
      type="article"
      publishedTime={frontmatter.timestamp.toISOString()}
      authorName={config.personal.name}
    />
  </Fragment>
  <Section class="pt-8">
    <div class="mt-8 mb-16 flex flex-col gap-4">
      <h1
        class="font-display text-2xl leading-normal sm:text-3xl sm:leading-normal"
      >
        {frontmatter.title}
      </h1>
      <div class="flex justify-between">
        <span>{articleDate}</span>
        <span>{frontmatter.readTime} min</span>
      </div>
    </div>
    <Prose>
      <slot />
    </Prose>
    <p class="pt-8">~{config.personal.name}</p>
  </Section>
</Layout>
